# Question 1 - Use IF ELSE and ELIF to write a program for your Report Card

In [12]:
n = input("Enter Your name - ")                         #Taking name as input from the user
m = int(input("Enter Marks Obtained - "))               #Taking marks as input from the user and then converting it into int

print("\n")

print("NAME = ", n)                                     #Displaying name
print("Marks Obtained = ", m)                           #Displaying marks obtained
if m >=90:                                              #Checking Grades and displaying it 
    print("Grade S")
elif m >=75 and m<90:
    print("Grade A")
elif m >=60 and m<75:
    print("Grade B")
elif m >=50 and m<60:
    print("Grade C")
elif m >=40 and m<50:
    print("Grade D")
else:
    print("Grade F")

Enter Your name - VAIBHAV KHARE
Enter Marks Obtained - 76


NAME =  VAIBHAV KHARE
Marks Obtained =  76
Grade A

# Question 2 - Use For Loop to print Prime Numbers in between 1 to 1000

In [76]:
c = 0
for i in range(1,1001):    #Starting loop from 1 to 1001
    c=0                    #Initializing the c to 0 after each iteration
    for j in range(1,i+1): #Starting loop from i to i+1
        if i%j==0:         #Checking the remainder  
            c=c+1          #Counting the factors
    if c==2:               #checking whether the value of c equals to 2 or not i.e its prime or not because prime numbers has
                                 #only 2 factors
        print(i)           #Displaying the prime numbers

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97
101
103
107
109
113
127
131
137
139
149
151
157
163
167
173
179
181
191
193
197
199
211
223
227
229
233
239
241
251
257
263
269
271
277
281
283
293
307
311
313
317
331
337
347
349
353
359
367
373
379
383
389
397
401
409
419
421
431
433
439
443
449
457
461
463
467
479
487
491
499
503
509
521
523
541
547
557
563
569
571
577
587
593
599
601
607
613
617
619
631
641
643
647
653
659
661
673
677
683
691
701
709
719
727
733
739
743
751
757
761
769
773
787
797
809
811
821
823
827
829
839
853
857
859
863
877
881
883
887
907
911
919
929
937
941
947
953
967
971
977
983
991
997

# Question 3 - Write a program for printing the tables from 1 to 10

In [1]:
for ii in range(1,11):                           #Starting for loop  
    print("Table of ",ii, "\n")                  #Displaying title of Table
    for jj in range(1,11):                       #Starting for loop 
        print(ii," X ",jj, " = ", ii*jj)         #Calculating and displaying table from 1 to 10
        
    print("\n")                                  #Giving a line break after each table

Table of  1

1  X  1  =  1
1  X  2  =  2
1  X  3  =  3
1  X  4  =  4
1  X  5  =  5
1  X  6  =  6
1  X  7  =  7
1  X  8  =  8
1  X  9  =  9
1  X  10  =  10


Table of  2

2  X  1  =  2
2  X  2  =  4
2  X  3  =  6
2  X  4  =  8
2  X  5  =  10
2  X  6  =  12
2  X  7  =  14
2  X  8  =  16
2  X  9  =  18
2  X  10  =  20


Table of  3

3  X  1  =  3
3  X  2  =  6
3  X  3  =  9
3  X  4  =  12
3  X  5  =  15
3  X  6  =  18
3  X  7  =  21
3  X  8  =  24
3  X  9  =  27
3  X  10  =  30


Table of  4

4  X  1  =  4
4  X  2  =  8
4  X  3  =  12
4  X  4  =  16
4  X  5  =  20
4  X  6  =  24
4  X  7  =  28
4  X  8  =  32
4  X  9  =  36
4  X  10  =  40


Table of  5

5  X  1  =  5
5  X  2  =  10
5  X  3  =  15
5  X  4  =  20
5  X  5  =  25
5  X  6  =  30
5  X  7  =  35
5  X  8  =  40
5  X  9  =  45
5  X  10  =  50


Table of  6

6  X  1  =  6
6  X  2  =  12
6  X  3  =  18
6  X  4  =  24
6  X  5  =  30
6  X  6  =  36
6  X  7  =  42
6  X  8  =  48
6  X  9  =  54
6  X  10  =  60


Table of  7

7  X  1  =  7
7  X  2  =  14
7  X  3  =  21
7  X  4  =  28
7  X  5  =  35
7  X  6  =  42
7  X  7  =  49
7  X  8  =  56
7  X  9  =  63
7  X  10  =  70


Table of  8

8  X  1  =  8
8  X  2  =  16
8  X  3  =  24
8  X  4  =  32
8  X  5  =  40
8  X  6  =  48
8  X  7  =  56
8  X  8  =  64
8  X  9  =  72
8  X  10  =  80


Table of  9

9  X  1  =  9
9  X  2  =  18
9  X  3  =  27
9  X  4  =  36
9  X  5  =  45
9  X  6  =  54
9  X  7  =  63
9  X  8  =  72
9  X  9  =  81
9  X  10  =  90


Table of  10

10  X  1  =  10
10  X  2  =  20
10  X  3  =  30
10  X  4  =  40
10  X  5  =  50
10  X  6  =  60
10  X  7  =  70
10  X  8  =  80
10  X  9  =  90
10  X  10  =  100

# Question 4 - Write a program to print X Prime Numbers using While Loop starting from 0 and take the input of X from the user

In [19]:
l=0
h=int(input("Enter Maximum range : "))                    #Taking the maximum range
print("Prime Numbers between 0 and ",h," are :- ")        #Displaying the given range
l=2
while l <= h:                                             #Checking the values of the given range
    f = -1
    k = 2
    while k <= l/2:                                       #Checking whether number is Prime or not
        if l%k ==0:
            f = f + 1
            k = k + 1
        else:
            k = k + 1
    if f ==-1:
        print(l)                                          #Displaying the Prime numbers
        l=l+1
    else:
        l=l+1

Enter Maximum range : 15
Prime Numbers between 0 and  15  are :-
2
3
5
7
11
13